[submodule "libs/painlessMesh"]
	path = libs/painlessMesh
	url = https://gitlab.com/painlessMesh/painlessMesh
[submodule "libs/ArduinoJson"]
	path = libs/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "libs/TaskScheduler"]
	path = libs/TaskScheduler
	url = https://github.com/arkhipenko/TaskScheduler
[submodule "libs/uuid"]
	path = libs/uuid
	url = https://github.com/boostorg/uuid.git
